@import 'reset'

body
  background-color: #D3D3D3


nav
  margin: 0
  padding: 0
  width: 100%
  height: 75px
  background-color: #A52A2A
  display: inline-block
  .title
    display: inline-block
    color: while
    font-family: Verdana, serif
    font-size: 1.3em
    margin-left: 25px
    color: #FFF5EE
  ul
    line-height: 75px
    vertical-align: middle
    float: right
    margin-right: 25px
    list-style: none
  li
    display: inline-block
    a
      display: block
      text-decoration: none
      padding-left: 8px
      margin: auto 0
      color: #FFF5EE
      font-size: 1.2em
      font-family: Verdana, serif
    :hover
      color: #00FFFF
      text-decoration: none

.container
  margin: 15px auto
  width: 80%
  font-size: 18px
  color: #000

  p
    text-align: justify
    padding: 10px 0

.top
  display: inline-block
  width: 40px
  height: 40px
  position: fixed
  bottom: 25px
  right: 25px
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

  background: rgba(#e86256, .8) url(../images/cd-top-arrow.svg) no-repeat center 50%
  // visibility: hidden
  // opacity: 0

  &.top-is-visible, &.top-fade-out
    -webkit-transition: opacity .3s 0s, visibility 0s 0s
		-moz-transition: opacity .3s 0s, visibility 0s 0s
		transition: opacity .3s 0s, visibility 0s 0s

  &.top-is-visible
    visibility: visible
    opacity: 1

  &.top-fade-out
    opacity: .5

footer
  width: 100%
  height: 200px
  background-color: #2F4F4F
  display: flex
  align-items: center
  justify-content: center

  h2
    color: #FFFAFA
    max-width: 50%
