@import 'reset'


/* ###  Variables  ### */

$height: 75px
$height-fixed: 50px

/* ###  Variables  ### */

body
  background-color: #D3D3D3
  z-index: -100


nav
  margin: 0
  padding: 0
  width: 100%
  height: $height
  z-index: 99
  background-color: #A52A2A
  // display: inline-block

  &.fixed
    top: 0
    position: fixed
    z-index: 100
    height: $height-fixed


  h2
    display: inline-block
    line-height: $height
    color: white
    font-family: Verdana, serif
    font-size: 1.6em
    margin: 0 0 0 25px
    vertical-align: middle
    color: #FFF5EE

    &.title-fixed
      line-height: $height-fixed

    &.title-color
      color: #000

  ul
    line-height: $height
    vertical-align: middle
    float: right
    margin-right: 25px
    list-style: none

    &.links-fixed
      line-height: $height-fixed
      margin-right: 25px

  li
    display: inline-block

    a
      display: block
      text-decoration: none
      padding-left: 8px
      margin: auto 0
      color: #FFF5EE
      font-size: 1.2em
      font-family: Verdana, serif

      &:hover
        color: #000
        font-size: 1.4em
        text-decoration: none

      &:.link-color
        color: #000

.container
  margin: 15px auto
  width: 80%
  font-size: 18px
  color: #000

  p
    text-align: justify
    padding: 10px 0

.top
  display: inline-block
  width: 40px
  height: 40px
  position: fixed
  bottom: 25px
  right: 25px
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  box-shadow: 0 0 15px rgba(#000, .15)
  background: rgba(#e86256, .8) url(../../images/cd-top-arrow.svg) no-repeat center 50%
  visibility: hidden
  opacity: 0

  &.top-is-visible, &.top-fade-out
    -webkit-transition: opacity .3s 0s, visibility 0s 0s
		-moz-transition: opacity .3s 0s, visibility 0s 0s
		transition: opacity .3s 0s, visibility 0s 0s

  &.top-is-visible
    visibility: visible
    opacity: 1

  &.top-fade-out
    opacity: .5

    &:hover
      opacity: 1

footer
  width: 100%
  height: 200px
  background-color: #2F4F4F
  display: flex
  align-items: center
  justify-content: center

  h2
    color: #FFFAFA
    max-width: 50%
