@import 'reset'


/* ###  Variables  ### */

$height: 75px
$height-fixed: 60px
$nav-background: #ADD8E6

/* ###  Variables  ### */

body
  z-index: -100


header
  height: 100vh
  background-size: cover
  background-image: url('../../images/header.jpeg')
  z-index: 0

  nav
    top: 0
    margin: 0 0 10px 0
    padding: 0
    width: 100%
    height: $height
    background-color: transparent
    background: transparent
    border-color: transparent
    // display: inline-block

    &.fixed
      top: 0
      position: fixed
      z-index: 100
      height: $height-fixed
      background-color: $nav-background

    h2
      display: inline-block
      line-height: $height
      color: white
      font-family: Verdana, serif
      font-size: 1.6em
      margin: 0 0 0 25px
      vertical-align: middle
      color: #FFF5EE

      &.title-fixed
        line-height: $height-fixed

      &.title-color
        color: #000

    ul
      line-height: $height
      vertical-align: middle
      float: right
      margin-right: 25px
      list-style: none

      &.links-fixed
        line-height: $height-fixed
        margin-right: 25px

      li
        display: inline-block

        a
          display: block
          text-decoration: none
          padding-left: 8px
          margin: auto 0
          color: #FFF5EE
          font-size: 1.2em
          font-family: Verdana, serif

          &:hover
            color: #000
            text-decoration: none

          &:link
            text-decoration: none

          &:visited
            text-decoration: none

  .landing-text
    display: flex
    justify-content: center
    align-items: center
    height: 75vh
    color: #000

/* ##### END Header ##### */

#about
  width: 100%
  height: 300px
  background-color: #FFFFFF


/* END About */


#skills
  width: 100%
  height: auto
  background-color: #F3F3F3
  padding: 25px 0

  h2
    text-align: center
    padding-bottom: 15px

  .card
    position: relative
    float: left
    padding-bottom: 25%
    width: 100%
    height: 200px
    text-align: center
    margin-bottom: 20px

  .card-front, .card-back
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

  .card-front, .card-back
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s

  .card-front
    background-color: #ADD8E6
    text-align: center

  .card-back
    background-color: #87CEFA
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)
    color: #000

  .card.effect-hover:hover .card-front
    -webkit-transform: rotateY(-180deg)
    transform: rotateY(-180deg)

  .card.effect-hover:hover .card-back
    -webkit-transform: rotateY(0)
    transform: rotateY(0)

/* ##### End Skills ##### */

#portfolio
  width: 100%
  height: 600px
  background-color: #FFFFFF

#contact
  width: 100%
  height: 300px
  background-color: #F3F3F3


/* ##### End Divs ##### */

.container
  margin: 15px auto
  width: 80%
  font-size: 18px
  color: #000

  p
    text-align: justify
    padding: 10px 0

.top
  display: inline-block
  width: 40px
  height: 40px
  position: fixed
  bottom: 25px
  right: 25px
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  box-shadow: 0 0 15px rgba(#000, .15)
  background: $nav-background url(../../images/cd-top-arrow.svg) no-repeat center 50%
  visibility: hidden
  opacity: 0

  &.top-is-visible, &.top-fade-out
    -webkit-transition: opacity .3s 0s, visibility 0s 0s
		-moz-transition: opacity .3s 0s, visibility 0s 0s
		transition: opacity .3s 0s, visibility 0s 0s

  &.top-is-visible
    visibility: visible
    opacity: 1

  &.top-fade-out
    opacity: .5

    &:hover
      opacity: 1


/* ##### FOOTER ##### */

footer
  width: 100%
  height: 200px
  background-color: #2F4F4F
  display: flex
  align-items: center
  justify-content: center

  h2
    color: #FFFAFA
    max-width: 50%
